<div class="page-header">
  <h1>
    Staffs
    <a href="/staffs/new" class="btn btn-lg btn-success">New Staff</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Contact telephone</th>
        <th>Photo</th>
        <th>Home restaurant</th>
        <th>User</th>
        <th>Verified</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>

      <% @staffs.each do |staff| %>
      <tr>
        <td><%= staff.firstname %></td>
        <td><%= staff.lastname %></td>
        <td><%= staff.contact_telephone %></td>
        <td><img src='<%= staff.photo %>' class='img-responsive'></td>
        <td><%= staff.home_restaurant.restaurant_name %></td>
        <td><%= staff.user.email %></td>
        <td><%= staff.verified %></td>
        <td><%= staff.role.role_name %></td>
        <td>
          <a href="/staffs/<%= staff.id %>" class="btn btn-primary">Show</a>
          <a href="/staffs/<%= staff.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_staff/<%= staff.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
