<div class="page-header">
  <h1>
    Jobs
    <a href="/jobs/new" class="btn btn-lg btn-success">New Job</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => "collapse", :id => "jobs_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
          <%= f.label :start_time, "Start time" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='start_timegteqPicker'>
                  <%= f.text_field :start_time_gteq, :class => "form-control", :placeholder => "Start time greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='start_timelteqPicker'>
                  <%= f.text_field :start_time_lteq, :class => "form-control", :placeholder => "Start time less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#start_timegteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#start_timelteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#start_timegteqPicker').on("dp.change", function (e) {
                  $('#start_timelteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#start_timelteqPicker').on("dp.change", function (e) {
                  $('#start_timegteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

<div class="form-group">
    <%= f.label :approved_eq, "Approved" %>
    <div>
      <label class="radio-inline">
        <%= f.radio_button :approved_eq, "1", checked: ((params[:q] && params[:q][:approved_eq]) == "1" ? "checked" : "") %> Yes
      </label>
      <label class="radio-inline">
        <%= f.radio_button :approved_eq, "0", checked: ((params[:q] && params[:q][:approved_eq]) == "0" ? "checked" : "")%> No
      </label>
      <label class="radio-inline">
        <%= f.radio_button :approved_eq, ""%> Either
      </label>
    </div>
  </div>

<div class="form-group">
    <%= f.label :bonus_terms_cont, "Bonus terms contains" %>
    <%= f.text_field :bonus_terms_cont, :class => "form-control", :placeholder => "Bonus terms contains" %>
  </div>

<div class="form-group">
  <%= f.label :bonus, "Bonus" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :bonus_gteq, :class => "form-control", :placeholder => "Bonus greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :bonus_lteq, :class => "form-control", :placeholder => "Bonus less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :hourly_rate, "Hourly rate" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :hourly_rate_gteq, :class => "form-control", :placeholder => "Hourly rate greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :hourly_rate_lteq, :class => "form-control", :placeholder => "Hourly rate less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
    <%= f.label :end_time_cont, "End time contains" %>
    <%= f.text_field :end_time_cont, :class => "form-control", :placeholder => "End time contains" %>
  </div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
      <%= f.label :staff_firstname_cont, "Staff firstname contains" %>
      <%= f.text_field :staff_firstname_cont, :class => "form-control", :placeholder => "Staff firstname contains" %>
    </div>

<div class="form-group">
      <%= f.label :role_role_name_cont, "Role role_name contains" %>
      <%= f.text_field :role_role_name_cont, :class => "form-control", :placeholder => "Role role_name contains" %>
    </div>

<div class="form-group">
      <%= f.label :restaurant_restaurant_name_cont, "Restaurant restaurant_name contains" %>
      <%= f.text_field :restaurant_restaurant_name_cont, :class => "form-control", :placeholder => "Restaurant restaurant_name contains" %>
    </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/jobs" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#jobs_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Start time</th>
        <th>End time</th>
        <th>Role</th>
        <th>Hourly rate</th>
        <th>Bonus</th>
        <th>Bonus terms</th>
        <th>Staff</th>
        <th>Approved</th>
        <th>Actions</th>
      </tr>

      <% @jobs.each do |job| %>
      <tr>
        <td><%= job.start_time %></td>
        <td><%= job.end_time %></td>
        <td>
          <% if job.role.present? %>
            <a href="/roles/<%= job.role.id %>">
              <%= job.role.role_name %>
            </a>
          <% end %>
        </td>
        <td><%= job.hourly_rate %></td>
        <td><%= job.bonus %></td>
        <td><%= job.bonus_terms %></td>
        <td>
          <% if job.staff.present? %>
            <a href="/staffs/<%= job.staff.id %>">
              <%= job.staff.firstname %>
            </a>
          <% end %>
        </td>
        <td><%= job.approved %></td>
        <td>
          <a href="/jobs/<%= job.id %>" class="btn btn-primary">Show</a>
          <a href="/jobs/<%= job.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_job/<%= job.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @jobs, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
