<!-- Validation failure messages -->
<% if @job.errors.any? %>
  <% @job.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Job</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_job" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for start_time -->
      <div class="form-group">
        <label for="start_time" class="control-label">
          Start time
        </label>

        <input type="text" id="start_time" name="start_time" placeholder="Start time" class="form-control" value="<%= @job.start_time %>">
      </div>

      <!-- Label and input for end_time -->
      <div class="form-group">
        <label for="end_time" class="control-label">
          End time
        </label>

        <input type="text" id="end_time" name="end_time" placeholder="End time" class="form-control" value="<%= @job.end_time %>">
      </div>

      <!-- Label and input for role_id -->
      <div class="form-group">
        <label for="role_id" class="control-label">
          Role
        </label>

        <%= select_tag(:role_id, options_from_collection_for_select(Role.all, :id, :role_name, @job.role_id), :class => "form-control") %>
      </div>

      <!-- Label and input for hourly_rate -->
      <div class="form-group">
        <label for="hourly_rate" class="control-label">
          Hourly rate
        </label>

        <input type="text" id="hourly_rate" name="hourly_rate" placeholder="Hourly rate" class="form-control" value="<%= @job.hourly_rate %>">
      </div>

      <!-- Label and input for bonus -->
      <div class="form-group">
        <label for="bonus" class="control-label">
          Bonus
        </label>

        <input type="text" id="bonus" name="bonus" placeholder="Bonus" class="form-control" value="<%= @job.bonus %>">
      </div>

      <!-- Label and input for bonus_terms -->
      <div class="form-group">
        <label for="bonus_terms" class="control-label">
          Bonus terms
        </label>

        <input type="text" id="bonus_terms" name="bonus_terms" placeholder="Bonus terms" class="form-control" value="<%= @job.bonus_terms %>">
      </div>

      <!-- Label and input for staff_id -->
      <div class="form-group">
        <label for="staff_id" class="control-label">
          Staff
        </label>

        <input type="text" id="staff_id" name="staff_id" placeholder="Staff" class="form-control" value="<%= @job.staff_id %>">
      </div>

      <!-- Label and input for approved -->
      <div class="checkbox">
        <label for="approved">
          <input type="checkbox" id="approved" name="approved" value="1" <%= "checked" if @job.approved %>>
          Approved
        </label>
      </div>

      <button class="btn btn-success">
        Create Job
      </button>
      or
      <a href="/jobs">Cancel</a>
    </form>
  </div>
</div>
