<div class="page-header">
  <h3>Role #<%= @role.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Role name</dt>
      <dd><%= @role.role_name %></dd>

      <dt>Description</dt>
      <dd><%= @role.description %></dd>

      <dt>Restaurant</dt>
      <dd><%= @role.restaurant_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/roles" class="btn btn-primary">
        Back
      </a>
      <a href="/roles/<%= @role.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_role/<%= @role.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Role has many staffs -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Staffs
      </li>

      <% @role.staffs.each do |staff| %>
        <li class="list-group-item">
          <a href="/staffs/<%= staff.id %>">
            <%= staff.firstname %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/staffs/<%= staff.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/staffs/<%= staff.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_staff/<%= staff.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_staff" method="post" enctype="multipart/form-data">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for firstname -->
      <div class="form-group">
        <label for="firstname" class="control-label">
          Firstname
        </label>

        <input type="text" id="firstname" name="firstname" placeholder="Firstname" class="form-control" value="">
      </div>

      <!-- Label and input for lastname -->
      <div class="form-group">
        <label for="lastname" class="control-label">
          Lastname
        </label>

        <input type="text" id="lastname" name="lastname" placeholder="Lastname" class="form-control" value="">
      </div>

      <!-- Label and input for contact_telephone -->
      <div class="form-group">
        <label for="contact_telephone" class="control-label">
          Contact telephone
        </label>

        <input type="text" id="contact_telephone" name="contact_telephone" placeholder="Contact telephone" class="form-control" value="">
      </div>

      <!-- Label and input for photo -->
      <div class="form-group">
        <label for="photo" class="control-label">
          Photo
        </label>

        <input type="file" id="photo" name="photo" class="form-control">
      </div>

      <!-- Label and input for home_restaurant_id -->
      <div class="form-group">
        <label for="home_restaurant_id" class="control-label">
          Home restaurant
        </label>

        <%= select_tag(:home_restaurant_id, options_from_collection_for_select(Restaurant.all, :id, :restaurant_name), :class => "form-control") %>
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email), :class => "form-control") %>
      </div>

      <!-- Label and input for verified -->
      <div class="checkbox">
        <label for="verified">
          <input type="checkbox" id="verified" name="verified" value="1" <%= "checked" if @staff.verified %>>
          Verified
        </label>
      </div>

      <!-- Label and input for role_id -->
      <input type="hidden" name="role_id" value="<%= @role.id %>">

      <button class="btn btn-block btn-success">
        Create Staff
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Role has many jobs -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Jobs
      </li>

      <% @role.jobs.each do |job| %>
        <li class="list-group-item">
          <a href="/jobs/<%= job.id %>">
            <%= job.start_time %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/jobs/<%= job.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/jobs/<%= job.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_job/<%= job.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_job" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for start_time -->
      <div class="form-group">
        <label for="start_time" class="control-label">
          Start time
        </label>

        <input type="text" id="start_time" name="start_time" placeholder="Start time" class="form-control" value="">
      </div>

      <!-- Label and input for end_time -->
      <div class="form-group">
        <label for="end_time" class="control-label">
          End time
        </label>

        <input type="text" id="end_time" name="end_time" placeholder="End time" class="form-control" value="">
      </div>

      <!-- Label and input for role_id -->
      <input type="hidden" name="role_id" value="<%= @role.id %>">

      <!-- Label and input for hourly_rate -->
      <div class="form-group">
        <label for="hourly_rate" class="control-label">
          Hourly rate
        </label>

        <input type="text" id="hourly_rate" name="hourly_rate" placeholder="Hourly rate" class="form-control" value="">
      </div>

      <!-- Label and input for bonus -->
      <div class="form-group">
        <label for="bonus" class="control-label">
          Bonus
        </label>

        <input type="text" id="bonus" name="bonus" placeholder="Bonus" class="form-control" value="">
      </div>

      <!-- Label and input for bonus_terms -->
      <div class="form-group">
        <label for="bonus_terms" class="control-label">
          Bonus terms
        </label>

        <input type="text" id="bonus_terms" name="bonus_terms" placeholder="Bonus terms" class="form-control" value="">
      </div>

      <!-- Label and input for staff_id -->
      <div class="form-group">
        <label for="staff_id" class="control-label">
          Staff
        </label>

        <%= select_tag(:staff_id, options_from_collection_for_select(Staff.all, :id, :firstname), :class => "form-control") %>
      </div>

      <!-- Label and input for approved -->
      <div class="checkbox">
        <label for="approved">
          <input type="checkbox" id="approved" name="approved" value="1" <%= "checked" if @job.approved %>>
          Approved
        </label>
      </div>

      <button class="btn btn-block btn-success">
        Create Job
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
